@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffe6e6; 
  color: #333; 
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3em;
  color: #ff7f50; 
  margin-top: 10px;
}

.mode-selection {
  margin: 20px 0;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff7f50; 
  color: #fff;
  border: none;
  border-radius: 5px; 
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px #d2691e; 
}

button:hover {
  background-color: #ff6347; 
}

button:active {
  background-color: #ff6347;
  transform: translateY(4px); 
  box-shadow: 0 2px #d2691e; 
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  gap: 10px; 
}

.square {
  width: 100px;
  height: 100px;
  background-color: #fff; 
  border: 2px solid #ff7f50; 
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.square:hover {
  background-color: #ffe4e1; 
}

.square.X {
  color: #FF6700; 
}

.square.O {
  color:#D3316E; 
}

.game-info {
  margin-top: 20px;
}

/* Styles for the player info */
.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.player-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.music-button {
  position: fixed;
  top: 80px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #ff7f50;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px #d2691e;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.music-button:hover {
  background-color: #ff6347;
}

.music-button:active {
  background-color: #ff6347;
  transform: translateY(4px);
  box-shadow: 0 2px #d2691e;
}

.material-icons {
  font-size: 32px; 
}
